#list
  #personBlock
    .personPhoto style="float:left;"
    p style="float:left; margin-top: 55px; margin-left: 20px; width:200px;" Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac commodo velit. In sit amet ipsum vel tortor lacinia venenatis. In tristique massa id neque luctus, ut pellentesque leo
  #personBlock
    .personPhoto style="float:left;"
    p style="float:left; margin-top: 55px; margin-left: 20px; width:200px;" Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac commodo velit. In sit amet ipsum vel tortor lacinia venenatis. In tristique massa id neque luctus, ut pellentesque leo
  #personBlock
    .personPhoto style="float:left;"
    p style="float:left; margin-top: 55px; margin-left: 20px; width:200px;" Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac commodo velit. In sit amet ipsum vel tortor lacinia venenatis. In tristique massa id neque luctus, ut pellentesque leo
  #personBlock
    .personPhoto style="float:left;"
    p style="float:left; margin-top: 55px; margin-left: 20px; width:200px;" Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac commodo velit. In sit amet ipsum vel tortor lacinia venenatis. In tristique massa id neque luctus, ut pellentesque leo
  #personBlock
    .personPhoto style="float:left;"
    p style="float:left; margin-top: 55px; margin-left: 20px; width:200px;" Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac commodo velit. In sit amet ipsum vel tortor lacinia venenatis. In tristique massa id neque luctus, ut pellentesque leo