#container {
    width: 1000px;
    height: 1500px;
    margin-left: auto;
    margin-right: auto;
}

#logo {
    background-color: red;
    width: 400px;
    height: 150px;
    float: left;
    margin-top: 5%;
    margin-left: 5%;
}

#menu {
    background-color: #171717;
    width: 100%;
    height: 125px;
    float: left;

}

#inputLogin {
    background-color: #75D472;
    width: 40%;
    height: 15%;
    float: left;
    margin-left: 7.5%;
}

#content {
    background-color: #75D472;
    width: 80%;
    height: 50%;
    float: left;
    margin-left: 10%;
    margin-top: 5%;

}

body {
    background-color: #002500
}

.menuButton {
    float: left;
    width: 120px;
    height: 80%;
    margin-top: 12.5px;
    margin-bottom: 12.5px;
    background-color: transparent;
    margin-left: 20px;
    text-align: center;
    font-size: 18px;
    font-family: Helvetica;
    color: grey;
    text-decoration: none;
    border-radius: 20px;


}

.menuButton:hover {
    color: white;

}

#menuText {
    margin-top: 38px;
}